$black: #000;
$black-0-75: rgba(0, 0, 0, 0.75);

$costa-rica-red: #ce1126;
$costa-rica-blue: #002b7f;

$vanilla: #fbedc4;
$vanilla-0-75: rgba(251, 237, 196, 0.75);

$chocolate: #7b3f00;
$chocolate-0-75: rgb(123, 63, 0, 0.75);

$green: #05be9b;
$green-0-75: rgba(5, 190, 155, 0.75);

$salmon: #ff7b7b;
$salmon-0-75: rgba(255, 123, 123, 0.75);

$orange: #ea9114;
$orange-0-75: rgba(234, 145, 20, 0.75);

$pink: #f05c7e;
$pink-0-75: rgba(240, 92, 126, 0.75);

$cyan: #34b4a7;

$rainbow-red: #e74c3c;
$rainbow-yellow: #f1c40f;
$rainbow-green: #2ecc71;
$rainbow-blue: #3498db;
$rainbow-purple: #9b59b6;

$facebook: #4267b2;
$facebook-dark: #263962;
$instagram: #e1306c;
$messenger: #00b2ff;
$maps: #f4b400;
$mail: #2ecc71;

$white: #fff;
$white-0-75: rgba(255, 255, 255, 0.75);

$transparent: rgba(255, 255, 255, 0.01);
