/*
Fonts stylesheet
Author: Benjamin Jaume
*/
@font-face {
  font-family: "Garamond";
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src: url("../fonts/garamond.eot"); /* IE9*/
  src: url("../fonts/garamond.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/garamond.woff2") format("woff2"),
    /* chrome、firefox */ url("../fonts/garamond.woff") format("woff"),
    /* chrome、firefox */ url("../fonts/garamond.ttf") format("truetype"),
    /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
      url("../fonts/garamond.svg#Garamond") format("svg"); /* iOS 4.1- */
}

@font-face {
  font-family: "PhyllisD";
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src: url("../fonts/phyllisD.eot"); /* IE9*/
  src: url("../fonts/phyllisD.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/phyllisD.woff2") format("woff2"),
    /* chrome、firefox */ url("../fonts/phyllisD.woff") format("woff"),
    /* chrome、firefox */ url("../fonts/phyllisD.ttf") format("truetype"),
    /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
      url("../fonts/phyllisD.svg#PhyllisD") format("svg"); /* iOS 4.1- */
}
