/*
Fonts stylesheet
Author: Benjamin Jaume
*/

@font-face {
  font-family: "Gothic CG";
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src: local("Gothic CG No 1"), local("Gothic-CG-No-1"),
    url("../fonts/Gothic-CG-No-1.woff") format("woff");
}

@font-face {
  font-family: "Impact";
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src: local("Impact"), local("Impact"),
    url("../fonts/Impact.woff") format("woff");
}

@font-face {
  font-family: "Yellowtail";
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src: local("Yellowtail"), local("Yellowtail"),
    url("../fonts/Yellowtail.woff") format("woff");
}
