/*
Navigation Bar stylesheet
Author: Benjamin Jaume
*/

@use 'colors';

$logo-size: 64px;

@mixin transition($property) {
  -webkit-transition: $property;
  -o-transition: $property;
  transition: $property;
}

%bottom-border {
  border-bottom: 2px solid colors.$pink;
  bottom: -2px;
  content: " ";
  left: 0;
  position: absolute;
  right: 0;
  max-width: 100px;
  text-align: center;
  margin: auto;
}

.bg-dark {
  background-color: colors.$black !important;
}

.navbar-dark {
  &::after {
    background: linear-gradient(
      to right,
      colors.$costa-rica-blue 1 / 6 * 100%,
      colors.$white 1 / 6 * 100%,
      colors.$white 2 / 6 * 100%,
      colors.$costa-rica-red 2 / 6 * 100%,
      colors.$costa-rica-red 4 / 6 * 100%,
      colors.$white 4 / 6 * 100%,
      colors.$white 5 / 6 * 100%,
      colors.$costa-rica-blue 5 / 6 * 100%,
      colors.$costa-rica-blue 100%
    );
    position: absolute;
    content: "";
    height: 4px;
    right: 0;
    left: 0;
    bottom: 0;
  }

  .navbar-brand {
    padding-left: $logo-size;

    img {
      height: $logo-size;
      width: $logo-size;
    }
  }

  .navbar-nav {
    font-size: 1.25rem;

    a {
      @include transition(all 300ms ease-in-out);
    }

    .nav-item {
      &:first-child {
        margin-left: 0;
      }
    }

    .nav-link {
      color: colors.$green;
      text-align: center;
      &:hover {
        color: colors.$orange;
        &::after {
          @extend %bottom-border;
        }
      }
    }

    .active > .nav-link {
      color: colors.$green;

      &::after {
        @extend %bottom-border;
      }
    }
  }

  .navbar-nav > li {
    float: left;
    position: relative;
  }

  .navbar-toggler {
    border-color: transparent;
  }
}

/* Extra small devices (portrait phones, less than 576px) */
/* @media (max-width: 575px) {
} */

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
}

/* Column management */
/* Small devices (landscape phones) */
@media (min-width: 576px) and (max-width: 767.98px) {
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .navbar-dark {
    .navbar-brand {
      padding-left: 0;
    }
  }

  .navbar-dark {
    .navbar-nav {
      .nav-item {
        &:first-child {
          margin-left: -$logo-size;
        }
      }
    }
  }
}

/* Column management */
/* Medium devices (tablets) */
@media (min-width: 768px) and (max-width: 991.98px) {
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
}

/* Column management */
/* Large devices (desktops) */
@media (min-width: 992px) and (max-width: 1199.98px) {
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}
